body {
    padding: 1em;
    font-family: Geneva, Comic Sans MS, sans-serif;
    background-color: Silver;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: Coral;
}

label {
    padding-right: 1em;
}

div {
    margin-bottom: .5em;
}